language: python
python:
  - "3.7"
  - "3.10"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest

# command to run tests
script:
  - cd tests && ./tests_run.sh
