name: Upload Python Package

on:
  release:
    types: [released]

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # https://github.com/pypa/setuptools_scm/issues/480

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Prepare build
      run: |
        python -m build 2>&1 | tee build.log
        # exit `fgrep -i warning build.log | wc -l`

    - name: Check the package
      run: twine check --strict dist/*

    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: python -m twine upload dist/*