name: "Static type checking"

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyversion: ['3.9', '3.12']
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.pyversion }}

    - name: Install dependencies
      # install all requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r tests/requirements.txt
        pip install types-PyYAML
    - name: Test types with mypy
      continue-on-error: true
      run: |
        python -m mypy --config-file pyproject.toml --pretty --package pde
