name: "Multiprocessing tests"

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest] #, windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - uses: mpi4py/setup-mpi@v1

    - name: Install dependencies
      # install all requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r tests/requirements_mpi.txt
        pip install -r tests/requirements.txt

    - name: Run parallel tests with pytest
      env:
        NUMBA_WARNINGS: 1
        MPLBACKEND: agg
      run: |
        cd scripts
        python run_tests.py --unit --use_mpi --showconfig